# name: Deploy Laravel Application

# on:
#   # Triggers the workflow on push events to the main branch
#   push:
#     branches:
#       - main

# jobs:
#   # Job to deploy to the first server
#   deploy-server-one:
#     name: Deploy to Server One
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout the repository
#         uses: actions/checkout@v4

#       - name: Deploy to Server One via SSH
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: ${{ secrets.PROD_01_HOST }}
#           username: ${{ secrets.PROD_USER }}
#           key: ${{ secrets.SSH_PRIVATE_KEY }}
#           script: |
#             cd /var/www/peacepay-backend
#             git pull origin main
#             php artisan migrate --force
#             composer install --no-interaction --prefer-dist --optimize-autoloader
#             php artisan config:clear
#             php artisan cache:clear
#             php artisan config:cache
#             php artisan view:clear
#             chown -R www-data:www-data .

#   # Job to deploy to the second server
#   deploy-server-two:
#     name: Deploy to Server Two
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout the repository
#         uses: actions/checkout@v4

#       - name: Deploy to Server Two via SSH
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: ${{ secrets.PROD_02_HOST }}
#           username: ${{ secrets.PROD_USER }}
#           key: ${{ secrets.SSH_PRIVATE_KEY }}
#           script: |
#             cd /var/www/peacepay-backend
#             git pull origin main
#             php artisan migrate --force
#             composer install --no-interaction --prefer-dist --optimize-autoloader
#             php artisan config:clear
#             php artisan cache:clear
#             php artisan config:cache
#             php artisan view:clear
#             chown -R www-data:www-data .
